*.exe
*.log
*.ppt
*.docx

vendor/
files/

*.out
*.swp
*.lock

.idea/
logs/
main/
keys/
config.yaml
config.inner.yaml
config.docker.yaml
*-linux-amd64
test/
main
server
debug/
dev.sh
echoapp
upload
resources/public/m/
resources/public/pc/
resources/storage/keys/
resources/storage/upload/
resources/storage
resources/echoapp-frontend
resources/echoapp-frontend/node_modules
.vscode
etcd.sh