server:
  addr: "0.0.0.0:8082"
  app_env: development

etcd:
  namespace: "echoapp/"
  endpoints:
    - "127.0.0.1:2379"
asset:
  public_root: ""
  version: "dev"
  view_root: "./resources/views"
  area_root: "./resources/storage/areas"
  public_host: ""

logging:
  formatter: "json"
  level: "debug"

database:
  options:
    - name: echoapp
      driver: mysql
      dsn: "root:pwd@tcp(127.0.0.1:3306)/echoapp?timeout=3s&charset=utf8&parseTime=True&loc=Local"

redis:
  addr: "127.0.0.1:6379"
  password: ""
  pool_size: 15

sms_tokens:
  echoapp:
    access_key: ''
    access_secret: ''
    sign_name: 'xxx'
    template_code: 'SMS_1977288'

rabbit_mq:
  xyt:
    url: 'amqp://{username}:{password}@localhost:5672/{vhost}'

tongcheng:
  notify_url: "http://www.lvcang.cn/jingqu/OpenAPI/OpenService/Scenery"
  client_map:
    1:
      access_key: 'LTAIuxzW6YjGhY1'
      access_secret: 'jTKscagoOE6vWWiVSVIlkLI49bULaT'

report_tickets:
  xyt:
    com_id: 1
    app_key: ''
    base_url: 'https://bigd.tourage.cn'
    scenic_code: ''

jws:
  audience: "abc"
  issuer: "xytschool"
  timeout: 360000
  public_key_path: "./resource/keys/jws_public_key.pem"
  private_key_path: "./resource/keys/jws_private_key.pem"
  hash_ids_salt: "123456"
