server:
  addr: "0.0.0.0:8082"
  app_env: development

etcd:
  namespace: "echoapp/"
  endpoints:
    - "127.0.0.1:2379"
asset:
  public_root: ""
  version: "dev"
  view_root: "./resources/views"
  area_root: "./resources/storage/areas"
  public_host: ""

logging:
  formatter: "json"
  level: "debug"

database:
  options:
    - name: echoapp
      driver: mysql
      dsn: "root:pwd@tcp(127.0.0.1:3306)/echoapp?timeout=3s&charset=utf8&parseTime=True&loc=Local"

redis:
  addr: "127.0.0.1:6379"
  password: ""
  pool_size: 15

sms_tokens:
  echoapp:
    access_key: ''
    access_secret: ''
