*.exe
*.log

vendor/
files/

*.out
*.swp
*.lock

.idea/
logs/
main/
keys/
config.yaml
config.inner.yaml
*-linux-amd64
test/
main
server
debug/
dev.sh
echoapp-api-go
posapi.upload
config.gw.yaml
upload
echoapp
node_modules

